#title{
    text-align: center;
}

#color-palette {
  display: flex;
  width: 35%;
  margin: auto;
} 

.color{
    border: 1px solid black;
    margin-top: 10%;
    width: 5rem;
    height: 5rem;
    margin-left: 5% ;
}
.c1 {
    
background-color: black;
   }

.c2 {
background-color: blue;
    }
.c3 {
 background-color: green;,
}
.c4 {
background-color: darkmagenta;
}
#pixel-board {
    display: inline-block;
    width: 25rem;
    height: 25rem;
    margin: auto;
    margin-top: 5%;
    border: 1px solid black;
  
}
.pixel {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-color: white;
    border: 1px solid black;
}
